* {
    padding: 0;
    margin: 0;
}

/*empieza el header*/
header {
    width: 100%;
    height: 100px;
    background: black;
    min-height: 100px;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 15;

}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container .logo {
    width: 290px;
}

.img-logo {
    width: 155px;
    height: 30px;
    z-index: 54;
}

.slider {
    width: 100%;
    height: 85vh;
    background-image: url('Assets/Img/header-photo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
}

.slider img {
    width: 550px;
    margin: auto;
}


.container {
    width: 90%;
    height: 100px;
    margin: auto;
}

.side-menu ul {
    display: flex;
    height: 60px;
}

.side-menu ul li {
    width: 110px;
    text-align: center;
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transform: skewX(158deg);
    transition: 0.5s;
}

.side-menu ul li:hover {
    background: white;
    transition: 0.5s;
}

.side-menu ul li:hover .item-nav {
    color: black;
    transition: 0.5s;
}


.side-menu ul li a { 
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    padding: 40px;
    transform: skewX(-158deg);
    font-size: 13px;
}

/* home */

.img-principal-container {
    background-image: url("../dybcrew/img/foto-home.jpg");
    width: 100%;
    height: 110vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.text-home p {
    width: 50%;
    height: 500px;
    font-size: 30px;
    z-index: 99;
    color: black;
    display: flex;
    justify-content: center;
    margin: 25% 0 0 10%;
    position: absolute;
    font-size: 50px;
    font-family: sans-serif;
    font-weight: bold;

}


/*seccion de quienes somos*/

.principal {
    width: 100%;
    height: 110vh;
}

.quienes-somos-container {
    display: flex;
    align-items: center;
}

.quienes-somos {
    width: 100%;
    height: 100vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.text-quienes-somos {
    z-index: 1;
    width: 400px;
    height: 200px;
    background: white;
    margin: 25px;
}

.quien-text {
    color: #e9e067;  
}

h1 {
    font-size: 40px;
    font-family: sans-serif;
    font-weight: vold;
}

.pex1 {
    width: 500px;
    height: 500px;
}

.line {
    width: 100px;
    height: 4px;
    background: #e9e067;
    margin-top: 10px;
}

/*sección de nuestros servicios*/

.nuestros-servicios {
    background-image: url("../dybcrew/img/pc2.jpg");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-nuestros-servicios {
   z-index: 1;
    width: 400px;
    height: 200px;
    margin: 100px; 
    color: white; 
}

.img-mod {
    height: 60px;
    width: 60px;
}

.cont-sec {
    display: flex;
    align-items: center;
    background: white;
    width: 80%;
    height: auto;
    padding: 30px;
    opacity: .7;
}

.nuestros-servicios-container {
    display: flex;
    align-items: center;   
}

.nuestros-servicios {
    display: flex;
    justify-content: space-around;
}

.cont-circle {
    margin: 30px;
} 

.img-mod:hover {
    transition: .5s;
    transform: scale(1.3);
    cursor: pointer;
}  

/* empieza la sección de portafolio */

.portafolio {
    background-image: url("../dybcrew/img/work-portafolio.jpg");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
}

.text-portafolio {
    width: 100vh;
    height: 80vh;
    background: white;
    opacity: .7;
    align-items: center;
} 

.img-portafolio {
    width: 100vh;
    height: 80vh;
    background: #2f2b30;
    opacity: .9;
}

.portafolio-container {
    display: flex;
    margin: auto;
    
}

.container-img-portafolio {
    margin: auto;
    margin-top: 8%;
}

.file-1, .file-2{
    display: flex;
    justify-content: center;
}

.container-text {
    width: 400px;
    height: 400px;
    margin: auto;
    justify-content: center;
    margin-top: 30%;
}


.img-port {
    width: 200px;
    height: 200px;
    background: black;
    margin: 15px;
}

.img-galeria {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-galeria:hover {
    transition: .3s;
    transform: scale(1.2);
    background: : #e9e067;
    cursor: pointer;
    filter: grayscale(90%);
}  

/* empieza la sección de nuestro equipo */

.team {
    background-image: url("../dybcrew/img/team.jpg");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
}

.team-container {
    display: flex;
    align-items: center;
}

.img-team {
    width: 100%;
    height: auto;
    opacity: .9;
    display: flex;
    align-items: center;
}

.img-foto-team {
    width: 150px;
    height: 180px;
    background: black;
    margin: 15px;
}

.text-nuestro-equipo {
   z-index: 1;
    width: 400px;
    height: 200px; 
    color: white; 
}

/* acá empieza el contacto */

/*.contacto {
    background-image: url("../dybcrew/img/contacto.jpg");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}


.img-mod {
    height: 60px;
    width: 60px;
}

.cont-sec-2 {
    display: flex;
    align-items: center;
    width: 80%;
    height: auto;
    padding-left: 200px;
    opacity: .7;
}

.contacto-container {
    display: flex;
    align-items: center;  
}

.contacto {
    display: flex;
    justify-content: space-around;
}

.cont-circle {
    margin: 30px;
} 

.img-mod:hover {
    transition: .5s;
    transform: scale(1.3);
    cursor: pointer;
}  



.container-text-info p {
    font-family: sans-serif;
    margin-top: 20px;
}


     */

.contacto-container {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    background: black
}

.fila-a {
    width: 100%;
    background: black;
}

.fila-a-container {
   z-index: 1;
    width: 400px;
    height: 200px;
    color: white; 
    background: black;
    margin: auto;
}

.fila-b {
    background-image: url("../dybcrew/img/contacto.jpg");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.formulario {
    width: 100%;
    height: 454px;
    background-size: 100%;
    background-attachment: fixed;
    margin: 0;
}

form {
    width: 450px;
    margin: auto;
    padding: 10px 20px;
    box-sizing: border-box;
}

input, textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
}

textarea {
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;

}

h2 {
    color: white;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
    font-family: 'lato','sans-serif';
    font-weight: inherit;
    font-weight: bold;
}

#boton {
    background: transparent;
    color: white;
    padding: 20px;
    border:0;
}

#boton:hover {
    cursor: pointer;
    color: black;
    transition: 2s;
    background: white;
}

.loginbox{
    border: none;
    border-bottom: 2px solid #fff;
    background: transparent;
}


.loginbox2 {
    border: none;
    border-bottom: 2px solid #fff;
    background: transparent;
}

::placeholer {
    color: red;
}


input[placeholder], [placeholder], *[placeholder] {
   color: white !important;
}

*::-webkit-input-placeholder {
   
    color: white;
} 

.info-change {
    color: #e9e067;
}

.container-text-info {
    margin-top: 20%;
}